/****** Object:  Table [dbo].[bill]    Script Date: 04/07/2022 22:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id_bill] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[purchase_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id_bill], [id_client], [purchase_date]) VALUES (1, 0, CAST(N'2022-06-30' AS Date))
INSERT [dbo].[bill] ([id_bill], [id_client], [purchase_date]) VALUES (2, 0, CAST(N'2022-06-30' AS Date))
INSERT [dbo].[bill] ([id_bill], [id_client], [purchase_date]) VALUES (3, 0, CAST(N'2022-06-30' AS Date))
GO
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
