/****** Object:  Table [dbo].[purchase]    Script Date: 04/07/2022 22:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase](
	[id_purchase] [int] IDENTITY(1,1) NOT NULL,
	[id_bill] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[product_quantity] [int] NULL,
	[purchase_value] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_purchase] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[purchase] ON 

INSERT [dbo].[purchase] ([id_purchase], [id_bill], [id_product], [product_quantity], [purchase_value]) VALUES (1, 0, 0, 0, 0)
INSERT [dbo].[purchase] ([id_purchase], [id_bill], [id_product], [product_quantity], [purchase_value]) VALUES (2, 0, 0, 0, 0)
INSERT [dbo].[purchase] ([id_purchase], [id_bill], [id_product], [product_quantity], [purchase_value]) VALUES (3, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[purchase] OFF
GO
